extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= t('views.users.id')
        th= t('views.users.name')
        th= t('views.users.email')
        th= t('views.users.createdAt')
        th= t('views.users.moves')
    tbody
      each user in users
        tr
          td= user.id
          td= user.name
          td
           a(href=`users/${user.id}`)= user.email
          td= formatDate(user.createdAt)
          td.d-flex
            a(class='btn btn-primary' href=route('editUserPage', { id: user.id}))=t('buttons.change')
            +buttonTo(route('editUserPage', { id: user.id}), 'delete')(class="btn btn-danger ml-5" value=t('buttons.delete'))
