extends ../layouts/application.pug

block header
  h1=t('views.statuses.title')
  +formFor()(action=route('newStatus') method='get')
    +submit(task)(value=t('views.statuses.new.create'))

block content
  table.table.table-striped
    thead
      tr
        th= t('views.statuses.id')
        th= t('views.statuses.name')
        th= t('views.statuses.dateCreate')
    tbody
      each status in statuses
        tr
          td= status.id
          td= status.name
          td= status.name
          td.d-flex
            a(class='btn btn-primary' href=route('editStatusPage', { id: status.id}))=t('buttons.change')
            +buttonTo(route('deleteStatus', { id: status.id}), 'delete')(class="btn btn-danger" value=t('buttons.delete'))

