extends ../layouts/application.pug

block header
  h1=t('views.labels.title')
  +formFor()(action=route('newLabel') method='get')
    +submit(task)(value=t('views.labels.new.create'))

block content
  table.table.table-striped
    thead
      tr
        th= t('views.labels.id')
        th= t('views.labels.name')
        th= t('views.labels.dateCreate')
    tbody
      each label in labels
        tr
          td= label.id
          td= label.name
          td= label.name
          td.d-flex
            a=(href=route('editPage', { id: label.id}))
            +buttonTo(route('editPage', { id: label.id}), 'get')(class="btn btn-primary" value=t('buttons.change'))
            +buttonTo(route('deleteLabel', { id: label.id}), 'delete')(class="btn btn-danger" value=t('buttons.delete'))

