extends ../layouts/application.pug

block header
  h1=t('views.labels.title')
  +formFor()(action=route('newLabel') method='post')
    +submit(task)(value=t('views.labels.new.create'))

block content
  table.table.table-striped
    thead
      tr
        th= t('views.labels.id')
        th= t('views.labels.name')
    tbody
      each label in labels
        tr
          td= label.id
          td= label.name
