extends ../layouts/application.pug

block header
  h1=t('views.tasks.title')
  +formFor()(action=route('newTask') method='get')
    +submit(task)(value=t('views.tasks.new.create'))

block content
  table.table.table-striped
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.email')
        th= t('views.tasks.createdAt')
    tbody
      each task in tasks
        tr
          td= task.id
          td= task.name
